body{
    margin: 0; padding: 0;
    background-image: url(images/background.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
table{
    margin: auto;
    padding-top: 20px;
}
#One{
    margin-top: 50px;
    float: right;
}
#Two > p{
    text-align: center;
}
#Two > article{
    float: left;
    color: white;
    font-family: monospace;
    text-align: justify;
    font-size: 18px;
    width: 600px;
}
#Two > img{
    margin-top: 60px;
    margin-left: 140px;
}
#Two > span{
    float: right;
    margin-top: 37px;
}
#Two > font{
    float: right;
}